// Site-wide
body {
  min-height: 100vh;
  background-color: #1a1a1a;
  color: white;
  overflow-wrap: anywhere;
}

.app {
  max-width: 560px;
  margin: 0 auto;
}

// Components
.portfolio-heading {
  padding-top: 76px;
  .site-title {
    font-size: 72px;
    line-height: 68px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .site-tld {
      color: #e53b22;
    }
  }
}

.occupation,
.skills-title,
.philosophy-title,
.projects-title,
.contact-title {
  font-size: 42px;
  line-height: 46px;
}

.skill-icons,
.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  img {
    height: 56px;
    max-width: 116px;
    margin: 0 8px;
  }
}

.content-link {
  margin: 0 4px;
}

.project {
  margin: 24px 0;
  padding: 12px;

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  background-color: #333;

  .level {
    width: 100%;
    margin-bottom: 8px;
    .level-item {
      margin-right: 0;
    }
    .github-source-button {
      margin-left: 0.75em;
    }
  }
  .project-name {
    font-size: 30px;
  }
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 6px 0;
    .screenshot {
      cursor: pointer;
    }
  }
  .thoughts {
    margin-top: 8px;
  }
}

.modal-content {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.email-button {
  margin: 16px auto 40px;
  .mail-icon {
    height: 20px;
    width: 28px;
    padding-left: 8px;
    margin-right: 0;
  }
}

.email-button:hover {
  background-color: #008080;
  color: inherit;
}

// Mobile Layout
@media only screen and (max-width: 415px) {
  .portfolio-heading {
    padding-top: 24px;
  }
  .skill-icons img {
    margin: 0;
  }
  .content-font {
    padding: 0 8px;
  }
  .project {
    .photo-gallery {
      justify-content: center;
      .screenshot {
        margin: 8px;
      }
    }
  }
}

// Typography
.title-font {
  font-family: "Changa One", Tahoma, serif;
  text-align: center;
}

.content-font {
  font-family: "Merriweather Sans", Arial, serif;
  margin: 12px 0;
}

.uppercase {
  text-transform: uppercase;
}

@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap");

@import "bulma/css/bulma.css";
